<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
<a th:href="@{/target}">HelloWorld</a><br>
<a th:href="@{/test(username='admin')}">测试value属性</a>
<form th:action="@{/test}" method="post">
    <input type="submit">
</form>
<a th:href="@{/testRest/1/admin}">测试路径中的占位符--》/testRest</a><br>

<a th:href="@{/testParam(username='hance',password=123)}">测试获取请求参数--》/testParam</a>

<form th:action="@{/testpojo}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="text" name="password"><br>
    性别：<input type="radio" name="sex" value="0">男
    <input type="radio" name="sex" value="1">女
    年龄：<input type="text" name="age"><br>
    邮箱 ：<input type="text" name="email"><br>
    <input type="submit" value="提交"><br>
</form><br>

<a th:href="@{/testServlet}">通过servletAPI向request域对象共享数据</a><br>
<a th:href="@{/testModelAndView}">通过ModelAndView向request域对象共享数据</a><br>
<a th:href="@{/testModel}">通过Model向request域对象共享数据</a><br>
<a th:href="@{/testMap}">通过map向request域对象共享数据</a><br>
<a th:href="@{/testModelMap}">通过ModelMap向request域对象共享数据</a><br>
<a th:href="@{/testSession}">通过servletAPI向session域对象共享数据</a><br>
<a th:href="@{/testApplication}">通过servletAPI向application域对象共享数据</a><br>

</body>
</html>